opencv-python~=4.5.1.48
numpy~=1.20.2
easydict~=1.9
matplotlib~=3.3.4
torch~=1.8.1
munkres~=1.1.4
torchvision~=0.9.1
Shapely~=1.7.1
scipy~=1.6.2
PyYAML~=5.4.1
requests~=2.25.1
geojson~=2.5.0
jsons~=1.4.2
dynaconf~=3.1.4
osmnx~=1.1.0
geopandas~=0.9.0
overpass~=0.7
swifter~=1.0.9
tqdm~=4.62.0
networkx~=2.5.1
plotly~=5.4.0
statsmodels~=0.13.1